body {
  font-family: 'Noto Sans KR', sans-serif;
}

#carouselShareSkill {
  margin-bottom: 50px;
}

#carouselShareSkill .carousel-caption {
  bottom: 91px;
}

#carouselShareSkill .carousel-item img {
  height: 400px;
}

#carouselShareSkill .share-skill-caption-title {
  font-size: 32px;
  margin-bottom: 18px;
}

#carouselShareSkill .share-skill-caption-desc {
  font-size: 22px;
  margin-bottom: 48px;
}

#carouselShareSkill .share-skill-caption-btn {
  display: inline-block;
  font-size: 16px;
  color: #FFF;
  background-color: #5900E7;
  padding: 10px 30px;
}

#alertShareSkill {
  margin-bottom: 16px;
}

#shareSkillList {
  margin-bottom: 70px;
}

#shareSkillList .share-skill-col {
  padding: 0 15px;
}

#shareSkillList .share-skill-item {
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  text-decoration: none;
}

#shareSkillList .share-skill-image {
  width: 100%;
}

#shareSkillList .share-skill-content {
  padding: 10px;
}

#shareSkillList .share-skill-title {
  font-size: 18px;
  color: #4A4A4A;
  margin-bottom: 10px;
  word-wrap: break-word;
}

#shareSkillList .share-skill-user {
  font-size: 13px;
  color: #4A4A4A;
}

#shareSkillList .share-skill-user span {
  vertical-align: middle;
}

#shareSkillList .share-skill-user img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}